<div xmlns:th="http://www.thymeleaf.org">
  <div id="login-box">
    <form th:method="post" th:action="@{/auth.do/login}" th:object="${AUTH}">
      <div>
        <label th:field="*{id}">ID</label>
        <input class="form-control" th:field="*{id}" th:type="text" />
      </div>
      <div>
        <label th:field="*{password}">Password</label>
        <input class="form-control" th:field="*{password}" th:type="password" />
      </div>
      <button class="btn btn-default" type="submit">Login</button>
    </form>
  </div>
</div>