<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${PAGEDESC.title}">Title</title>
    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />

    <th:block th:each="css : ${PAGEDESC.cssList}">
      <link th:href="${css}" rel="stylesheet" type="text/css" />
    </th:block>

    <!-- Header javascript -->
    <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <th:block th:each="js : ${PAGEDESC.hjsList}">
      <script th:src="${js}"></script>
    </th:block>
  </head>
  <body>
    <div id="main-content" th:replace="${PAGEDESC.view}">
      <h1>Body</h1>
    </div>
    <!-- Footer javascript -->
    <th:block th:each="js : ${PAGEDESC.fjsList}">
      <script th:src="${js}"></script>
    </th:block>
  </body>
</html>